* {
    padding: 0;
    margin: 0;
}

/*borda do campo numero 1*/
:root {
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-de-texto: rgb(255, 255, 255);
    --cor-de-texto-2: rgb(0, 0, 0);
    --cor-de-SUB: rgb(155, 155, 155);
    --cor-de-bloco: rgb(209, 208, 208);
    --cor-destaques: rgb(46, 58, 82);
    --cor-cabeçalho: rgb(77, 131, 68);




}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;



}

header {
    display: flex;
    justify-content: space-around;
    color: var(--cor-de-texto);
    align-items: center; 
    padding: 10px 0;
    background-color: var(--cor-cabeçalho);
}

.noticia{
    background-color: var(--cor-de-SUB);
    padding: 10px;
    margin: 10px;
    display: flex;
}

.titulinho{
    color: var(--cor-de-texto-2);
}

.paragrafo{
    color: rgb(180, 180, 180);
}