* {
    padding: 0;
    margin: 0;
}

/*borda do campo numero 1*/
:root {
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-de-texto: rgb(255, 255, 255);
    --cor-de-texto-2: rgb(0, 0, 0);
    --cor-de-SUB: rgb(155, 155, 155);
    --cor-de-bloco: rgb(209, 208, 208);
    --cor-destaques: rgb(46, 58, 82);





}