* {
    padding: 0;
    margin: 0;
}



/*borda do campo numero 1*/
:root {
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-de-texto: rgb(255, 255, 255);
    --cor-de-texto-2: rgb(0, 0, 0);
    --cor-de-SUB: rgb(155, 155, 155);
    --cor-de-bloco: rgb(209, 208, 208);
    --cor-destaques: rgb(46, 58, 82);
    --cor-cabeçalho: rgb(77, 131, 68);
    --cor-linha: rgba(77, 131, 68, 0.5);




}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;



}

header {
    display: flex;
    justify-content: space-between;
    color: var(--cor-de-texto);
    align-items: center; 
    padding: 10px 0;
    background-color: var(--cor-cabeçalho);
    padding: 12px;
    position: relative;

}

ul li{
    list-style: none;
}

a{
    color: var(--cor-de-texto);
    text-decoration: none;
}

.texto{
    color: var(--cor-de-texto);
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    padding: 20px 0;
    text-align: center;
    right: 0%;
}


.caixa:checked ~ .lista{
    display: block;
}

#menu{
    display: none;
}

.item{
    padding: 12px 0;
}

.item-titulo, .item {
  padding: 1em;
  background-color: var(--cor-cabeçalho);
}



.noticia{
    background-color: var(--cor-de-SUB);
    padding: 10px;
    margin: 10px;
    
}

.titulinho{
    color: var(--cor-de-texto-2);
}

.paragrafo{
    color: rgb(230, 227, 227);
}


.linha{
    display: none;
}


.ima-1{
    width: 20%;
}

.ima-2{
    width: 25%;
}

.ima-3{
    width: 25%;
}

.botao{
    background-color: #2F4B2A;
    display: flex;
    align-items: center;
    
}

.destaques{

}

@media screen and (min-width: 1024px)  { 
    .noticia{
        display: flex;
    }

    .linha{
        display: block;
        border: 6px solid var(--cor-linha);
    }

    .arrumar{
        display: flex;
    }

    .paragrafo{
        display: none;
    }
}

@media screen and (min-width: 1728px){
    

}
